*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #020617;
    font-family: "Roboto";
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 16px 50px;
    position: fixed;
    backdrop-filter: blur(5px);
}

nav {
    display: flex;
    align-items: center;
    gap: 100px;
}

nav a {
    color: #f8fafc;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;

}

main {
    padding: 160px 0;
}

section {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.main-section {
    max-width: 450px;
}

.main-section h1 {
    font-size: 40px;
    font-weight: 700;
    color: #f8fafc;
    text-align: center;
}

.main-section p {
    font-size: 16px;
    color: #64748b;
    text-align: center;
    margin-top: 16px;

}
.main-section div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    margin-top: 24px;
}
.main-section div button {
    background-color: transparent;
    padding: 8px 16px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14PX;
    font-weight: 700;
}

.game-button {

color: #10b981;
border: 1px solid #10b981;
}

.company-button {
    color: #4f46e5;
    border: 1px solid #4f46e5;
}

.line {
    width: 2px;
    height: 100vh;
    background-color: #64748b;
    margin-top: 80px;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    color: #f8fafc;
    margin: 32px 0;
}

.side-element {
    position: fixed;
    right: -500px;
    top: 0px;
    width: 700px;
    height: 700px;
    animation: rotate 1ms ease-in-out;
    animation-timeline: scroll();
}

.side-element-1 {
    top: 0px;
    filter: drop-shadow(0px 0px 32px rgba(71, 19, 214, 0.9));

} 

.side-element-2 {
    top: -100px;
    filter: drop-shadow(0px 0px 32px #c026d3)
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        margin-top: 0px;
    }

    to {
        transform: rotate(360deg);
        margin-top: 500px;
    }
}